img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.header {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: red 0px 2px 8px 0px;
}

.header h1 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 2em;
    background-color: #000;
    color: #fff;
    padding: 0.3em 0.2em;
    border: 2px solid #fffaff;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

table,
td,
th {
    padding: 10px;
    /* border: 1px solid #ddd; */
    transition: background-color 0.2s ease-in-out;
    /* color: #f5f5f5; */
    font-size: 22px;
}

table td:hover {
    /* background-color: #f5f5f5; */
    color: rgb(226, 22, 22);
    text-shadow: 1px 0 0 currentColor;
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    text-align: center;
}

table th {
    font-weight: bold;
}