h1 {
    color: red;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/background.jpg) no-repeat center fixed;
    background-size: cover;
}


/* header */

header ul {
    box-sizing: border-box;
    list-style: 0;
    margin: o auto;
    padding: 2em;
}

header ul li {
    background-color: #fff;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0;
    align-items: center;
    display: flex;
    display: inline-block;
    max-width: fit-content;
}

header ul li a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    gap: 0em;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

header ul {
    text-align: left;
    padding: auto;
}


/* header */


/* main */

.main {
    width: 80%;
    padding-left: 10%;
}

.left {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.right {
    width: 25%;
    float: right;
    box-sizing: border-box;
}

.center {
    width: 50%;
    float: left;
    box-sizing: border-box;
}


/* left */

header {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}

footer {
    padding-top: 100px;
    text-align: center;
}

a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.wrapper {
    padding-bottom: 20px;
}

.cta {
    display: flex;
    width: 200px;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border-radius: 10px;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
    color: #fff;
}